/* BEGINNING OF CSS STYLE SHEET */


/* Index Page */

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 40vh; 
    background-color:#baf1a1;
    
}

.wrapper-text p {
    text-align: center;
    margin-top: 7px;  
    font-size: 26px;
    font-family: 'Goudy Bookletter 1911', serif;
}

.wrapper h1 {
    font-size: 50px;
    color: black; 
    text-shadow: none;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
    font-family: 'Goudy Bookletter 1911', serif;
}

nav a, div a{
	color: black;
	text-decoration: none;
}

nav a:active{
    font-weight: bold;
    font-family: 'Goudy Bookletter 1911', serif;
}

nav li:hover{
    text-decoration: underline;
}


#nav-menu ul {
    display:flex; 
    flex-direction: row;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 40px;
    
}

#nav-menu li {
    font-size: 30px;
    margin-right: 0%;
    padding-left: 1%;
    padding-right: 1%;
    font-family: 'Goudy Bookletter 1911', serif;
}

#nav-menu li a {
    font-size: 20px;


}

#nav-menu li .current{
    font-weight: bold;
    text-transform: uppercase;
}

.statement {
    background-color: #9de3d0;
    padding: 10% 15%;
    font-family: 'Goudy Bookletter 1911', serif;
}
.purpose {
    font-size: 25px;
    font-family: 'Goudy Bookletter 1911', serif;
}

.purpose2 {
    font-size: 25px;
    font-family: 'Goudy Bookletter 1911', serif;

}

li {
    font-size: 25px; 
    font-family: 'Goudy Bookletter 1911', serif;
    
}

#main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3,auto);
}

.cane-page{
    grid-column: 1/2;
    grid-row: 1 / span 1;
    font-family: 'Goudy Bookletter 1911', serif;

}

.title-img1 {
    grid-column: 1/2;
    grid-row: 2 / span 1;
}

.therethere-page{
    grid-column: 2/ span 1;
    grid-row: 1 / span 1;
    font-family: 'Goudy Bookletter 1911', serif;

}

.title-img2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.belonging-page{
    grid-column: 3/ span 1;
    grid-row: 1 / span 1;
    font-family: 'Goudy Bookletter 1911', serif;

}

.title-img3 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.content-heads {
    font-size: 24px;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 3%; 
    text-decoration: underline;
    font-family: 'Goudy Bookletter 1911', serif;
}
.cane-page p, .belonging-page p, .therethere-page p{
    font-size: 17px;
    padding-right: 10%;
    padding-left: 15%;
}

.title-img1 img, .title-img2 img, .title-img3 img{
    height: 65vh;
    width: 23vw;
    margin-top: 5%;
    margin-bottom: 10%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid grey; 
}




.home-button1, .home-button2, .home-button3{
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray; 
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 1.2rem;
    padding: 0.7rem 2rem;
    font-weight: 700;
    font-size: 17px;
    color: black;
    font-family: 'Goudy Bookletter 1911', serif;
}

.home-button1:hover{
    background: rgb(0,158,170); 
    
}
.home-button2:hover{
    background: #f26732;
}

.home-button3:hover{
    background: #900738;
    color: white;
}

#respond {
    margin-top: 40px;
  }
  
#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
  
    line-height: 1.4em;
}




/* Cane Page */

.cane{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 40vh; 
    background-color:#009eaa;
}


.cane-wrapper h1 {
    font-size: 80px;
    color: #fed350;
    text-shadow: none;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    font-family: 'Cinzel', serif;
}


.cane-wrapper .author-text {
    font-size: 30px;
    margin-top: 5px; 
    color: #fed350;
    font-family: 'Cinzel', serif;
}


.begin-main {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(2,auto);
    margin-bottom: 5%;
}

.titlep {
    font-family: 'Cinzel', serif;
    margin-bottom: -.5%;
    margin-top: -1%;
    margin-left: 8%;
    font-size: 20px; 
}
.cane-pic img {
    height: 90vh; 
    margin-left: 7%;
}

.cane-content p{
    font-size: 17px;
    margin-left: 8%;
    margin-right: 5%;
    font-family: 'Lato', sans-serif;

}

.cane-content{
    background-color: #fed350;
    margin-left: 4%;
    padding-top: 3%;
    margin-right: 4%;
    margin-bottom: .35%;
}

.think {
    margin-top: 5px; 
    margin-bottom: 7px;
    font-family: 'Cinzel', serif;
    margin-top: 2%;

}


.quotes {
    text-align: center;
    font-size: 30px;
    font-family: 'Cinzel', serif;
}

.txt {
    font-size: 20px;
}
.middle {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
}

.quote1  {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 5%;
    background-color: #fffcc1;
    font-family: 'Cinzel', serif;
}

.analysis1 {
    grid-row: 1/2; 
    grid-column: 2/ span 1;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    background-color: #ffefa0;
    font-family: 'Lato', sans-serif;
    
}

.quote2 {
    grid-row: 2/3; 
    grid-column: 2/ span 1; 
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    padding-top: 25%; 
    background-color: #ccffbd;
    font-family: 'Cinzel', serif;
}

.analysis2 {
    grid-row: 2/3; 
    grid-column: 1/ span 1; 
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    background-color: #7eca9c;
    font-family: 'Lato', sans-serif;
}

.quote3  {
    grid-row: 3/-1;
    grid-column: 1/2;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 20%;
    padding-top: 15%;
    background-color: #94ebcd;
    font-family: 'Cinzel', serif;
}

.analysis3 {
    grid-row: 3/-1; 
    grid-column: 2/ span 1;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 20%; 
    background-color: #6ddccf;
    font-family: 'Lato', sans-serif;
}
.educ {
    padding-top: 50px;
    background: #009eaa;
}
.bottom-mid {
    display:flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #009eaa;
    padding-bottom: 20px;
    margin-bottom: 100px;

}

.cane-vid1 p, .cane-vid2 p, .cane-vid3 p {
    font-size: 13px; 
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}


.cane-vid1, .cane-vid2, .cane-vid3{
    margin: 10px; 
}



.cane-imgs{
    display: grid;
    grid-template-columns: 50% 50%;
    border-right: 70px solid white; 
    border-left: 70px solid white;
    border-top: 10px solid white;   
}
.cane-art img {
    width:100%;
    height:100%;
}

.art-container2, .art-container4{
    height:100%;
    
}
.descriptions  {
    grid-column: 1/ span 2;
    padding-top: 10px; 

  
}

.descriptions p{ 
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    background-color: #fed350; 
    padding-left: 10px;
    padding-right: 10px;
}

.descriptions p a:hover {
    background-color: #009eaa;
}
.bottom-bottom {
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.end {
    padding-bottom: 10px;
}

.comments {
    width: 50%; 
    padding: 70px; 
    border-right: 220px solid pink;
    border-left: 220px solid pink;
    background-color: pink; 
    margin-left: auto;
    margin-right: auto
}

#HCB_comment_box h3 { 
    font-family: 'Cinzel', serif;
    font-size: 20px;
    display: none;
}

#HCB_comment_box #comments_list {
    background-color: white;
    padding: 10px; 
    border: 1px solid grey;
    margin-bottom: 2px; 
}

#HCB_comment_box p.hcb-comment-body {
    padding-bottom: 5px; 
}
#HCB_comment_box #hcb_form_content,
#HCB_comment_box #hcb_form_email,
#HCB_comment_box #hcb_form_name,
#HCB_comment_box #hcb_form_website {
  padding-bottom: 10px;
}
#comments_list #comment_15410640 {
    display:none; 
}


/* There There Page */
.therethere{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 40vh; 
    background-color: #f26732;

}

.therethere-wrapper h1 {
    font-size: 70px;
    color: #fee436; 
    text-shadow: none;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
    font-family: 'Aleo', serif;
}


.therethere-wrapper .author-text-there {
    font-size: 30px;
    margin-top: 5px; 
    font-family: 'Aleo', serif;
    color: #fee436
}


.there-titlep {
    font-family: 'Aleo', serif;
    margin-bottom: -.5%;
    margin-top: -1%;
    margin-left: 5%;
    font-size: 20px; 
}

.main-therethere{
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: 60% 40%;
}



.therethere-pic img {
    max-width: 100%;

}

.therethere-content{
    background-color: #fee436;
    margin-left: 2%;
    margin-right:2%;
    padding-top: 3%;
    margin-bottom: .35%;
    margin-right: 2%;
}

.therethere-content p{
    font-size: 17px;
    margin-left: 5%;
    margin-right: 3.5%;
    font-family: 'Lato', sans-serif;
}

.bottomp {
    margin-bottom: 2%;
}
.therethere-pic {
    padding-right: 2%;
}

.think-there {
    margin-top: 10px; 
    margin-bottom: 7px;
    font-family: 'Aleo', serif;
    margin-top: 2%;

}

.quotes-there {
    margin-top: 90px; 
    text-align: center;
    font-size: 30px;
    font-family: 'Aleo', serif;
}


.quote1-therethere  {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 10% 15% 10% 15%; 
    padding-top: 15%;
    padding-bottom: 5%;
    background-color: #f7ea00;
    font-family: 'Aleo', serif;
}

.analysis1-therethere {
    grid-row: 1/2; 
    grid-column: 2/ span 1;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    background-color: #fff76a;
    font-family: 'Lato', sans-serif;
    
}

.quote2-therethere {
    grid-row: 2/3; 
    grid-column: 2/ span 1; 
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    padding-top: 10%; 
    background-color: #ffb037;
    font-family: 'Aleo', serif;
    
}

.analysis2-therethere {
    grid-row: 2/3; 
    grid-column: 1/ span 1; 
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    background-color: #f58634;
    font-family: 'Lato', sans-serif;
}

.quote3-therethere  {
    grid-row: 3/-1;
    grid-column: 1/2;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 20%;
    padding-top: 15%;
    background-color: #e97171;
    font-family: 'Aleo', serif;
}

.analysis3-therethere {
    grid-row: 3/-1; 
    grid-column: 2/ span 1;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 20%; 
    background-color: #ff4646;
    font-family: 'Lato', sans-serif;
}

.educ-there {
    padding-top: 50px;
    background: #f26732;
    font-family: 'Aleo', serif;
}

.bottom-mid-there {
    display:flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #f26732;
    padding-bottom: 20px;
    margin-bottom: 100px;

}

.there-vid1 p, .there-vid2 p, .there-vid3 p {
    font-size: 13px; 
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}


.there-vid1, .there-vid2, .there-vid3{
    margin: 10px; 
}

.there-quotes {
    text-align: center;
    font-size: 30px;
    font-family: 'Aleo', serif;
}



.therethere-imgs{
    display: grid;
    grid-template-columns: 50% 50%;
    border-right: 100px solid white; 
    border-left: 100px solid white;
    border-top: 10px solid white;   
}
.there-art img {
    width:100%;
    height: 100%;
}

.art-contain1{
    height:112%;
}
.art-contain3, .art-contain4 {
    height: 90%;
}

.art-contain2 {
    height: 115%; 
}

.there-descriptions  {
    grid-column: 1/ span 2;
    padding-top: 10px; 

  
}

.there-descriptions p{ 
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    background-color: #fee436; 
    padding-left: 10px;
    padding-right: 10px;
}

.there-descriptions p a:hover {
    background-color: #f26732;
}
.there-bottom-bottom {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

/* Belonging Page */

.belonging{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-size: cover;
    background-clip: content-box;
    width: 100vw;
    height: 40vh; 
    background-color: pink;

}

.belonging-wrapper h1 {
    font-size: 55px;
    color: black; 
    text-shadow: none;
    display: inline-block;
    margin-left: auto; 
    margin-right: auto; 
    text-align: center;
}


.belonging-wrapper .author-text-belong {
    font-size: 40px;
    margin-top: 5px; 
    font-family: 'Aleo', serif;
    color: black;
}

.main-belonging {
    display: grid;
    grid-template-rows: repeat(1, auto);
    grid-template-columns: repeat(2,auto);
    margin-bottom: 5%;
}

.belong-titlep {
    margin-bottom: -.5%;
    margin-top: -1%;
    margin-left: 8%;
    font-size: 20px; 
    padding-bottom: 10px;
}
.belong-pic img {
    height: 90vh; 
    margin-left: 7%;
    border: 1px solid grey; 
}

.belong-content p{
    font-size: 17px;
    margin-left: 8%;
    margin-right: 5%;
    font-family: 'Lato', sans-serif;

}

.belong-content{
    background-color: pink; 
    margin-left: 4%;
    padding-top: 3%;
    margin-right: 4%;
    margin-bottom: .35%;
}



.think-belong {
    margin-top: 5px; 
    margin-bottom: 7px;
    margin-top: 2%;

}


.quotes-belong {
    text-align: center;
    font-size: 30px;
}

.txt {
    font-size: 20px;
}

.quote1-belong  {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 10% 15% 10% 15%; 
    padding-top: 18%;
    padding-bottom: 5%;
    background-color: pink;
}

.analysis1-belong {
    grid-row: 1/2; 
    grid-column: 2/ span 1;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    background-color: plum;
    
}

.quote2-belong {
    grid-row: 2/3; 
    grid-column: 2/ span 1; 
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    padding-top: 12%; 
    background-color: pink;
}

.analysis2-belong {
    grid-row: 2/3; 
    grid-column: 1/ span 1; 
    padding: 10% 15% 10% 15%; 
    padding-bottom: 10%; 
    background-color: plum;
}

.quote3-belong  {
    grid-row: 3/-1;
    grid-column: 1/2;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 20%;
    padding-top: 19%;
    background-color:pink;
}

.analysis3-belong {
    grid-row: 3/-1; 
    grid-column: 2/ span 1;
    padding: 10% 15% 10% 15%; 
    padding-bottom: 20%; 
    background-color: plum;
}



.educ-belong {
    padding-top: 40px;
    background: yellow;
}
.bottom-mid-belong {
    display:flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: yellow;
    padding-bottom: 20px;
    margin-bottom: 100px;

}

.belong-vid1 p, .belong-vid2 p, .belong-vid3 p {
    font-size: 13px; 
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}


.belong-vid1, .belong-vid2, .belong-vid3{
    margin: 10px; 
}



.belong-imgs{
    display: grid;
    grid-template-columns: 50% 50%;
    border-right: 70px solid white; 
    border-left: 70px solid white;
    border-top: 10px solid white;   
}
.belong-art img {
    width:100%;
    height:100%;
}

.container1 img {
    border: 1px solid grey; 
}

.container2 {
    height:100%;
    
}
.container3 {
    padding-top: .2%;
}

.container4 {
    height: 99.6%;
}
.belong-descriptions  {
    grid-column: 1/ span 2;
    padding-top: 10px; 

  
}

.belong-descriptions p{ 
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    background-color: #fed350; 
    padding-left: 10px;
    padding-right: 10px;
}

.belong-descriptions p a:hover {
    background-color: #009eaa;
}
.bottom-bottom {
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.end {
    padding-bottom: 10px;
}
